.heading
{
color: red;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}

.galary
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;



}
.album
{
    padding: 50px; 50px ; 50px;
}

img:hover
{
    transition: 9ms;
}